/* First Layout Responsive */

/* @media (max-width: 968px) {
      .container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 60px;
      }

      .name, .title {
        font-size: 3.5rem;
      }

      .photo-container {
        width: 320px;
        height: 320px;
      }

      .buttons {
        justify-content: center;
      }
    }

    @media (max-width: 480px) {
      .name, .title {
        font-size: 2.8rem;
      }

      .buttons {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        width: 200px;
      }
    } */

/* Second-Layout Responsive */

/* @media (max-width: 992px) {
  .about-content {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  
  .about-text h2 {
    font-size: 3.5rem;
  }
  
  .tags {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .about-section {
    padding: 100px 20px;
  }
  
  .about-text h2 {
    font-size: 2.8rem;
  }
  
  .about-text p {
    font-size: 1.15rem;
    padding-left: 30px;
  }
  
  .purple-bar {
    height: 50px;
  }
} */


/* Third Section Responsive */

/* @media (max-width: 968px) {
  .section-title {
    font-size: 3.5rem;
  }

  .job {
    flex-direction: column;
    gap: 16px;
  }

  .job-company {
    flex: none;
    font-size: 1.8rem;
  }

  .experience-container::before {
    left: 20px;
  }

  .achievements li {
    padding-left: 40px;
  }
}

@media (max-width: 640px) {
  .experience-section {
    padding: 100px 20px;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .job-company {
    font-size: 1.6rem;
  }
} */


/* Footer Reponsive */

@media (max-width: 640px) {
  .skills-section {
    padding: 100px 20px;
  }

  .section-title {
    font-size: 3rem;
  }

  .skills-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .skill-category h3 {
    font-size: 1.4rem;
  }

  .skill-category li {
    font-size: 1.1rem;
  }
}

@media (max-width: 66.25rem) {

  /* .btn{
    padding: 0.8rem 1rem;
   } */
  /* .btn {
    padding: 0.8rem 1.5rem;
  } */
}

@media(max-width:980px) {
  .container1 {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 60px;
  }

  .name,
  .title {
    font-size: 4rem;
  }

  .photo-container {
    width: 320px;
    height: 320px;
  }

  .buttons {
    justify-content: center;
  }

  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .about-content {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .about-text h2 {
    font-size: 3.5rem;
  }

  .tags {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .about-section {
    padding: 100px 20px;
  }

  .about-text h2 {
    font-size: 2.8rem;
  }

  .about-text p {
    font-size: 1.15rem;
    padding-left: 30px;
  }

  .purple-bar {
    height: 50px;
  }

  .experience-section {
    padding: 30px 20px;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .job-company {
    font-size: 1.4rem;
  }

  .skills-section {
    padding: 20px 15px;
  }

  .section-title {
    font-size: 3rem;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    /* row-gap: 40px; */

  }

  .skill-category h3 {
    font-size: 1.4rem;
  }

  .skill-category li {
    font-size: 1.1rem;
  }

  .skill-container {
    /* text-align: center; */
    margin: 0 auto;
  }

  #First-H3 {
    font-size: 1.2rem;
  }

  .experience-container::before {
    /* left: 2px; */
    /* bottom: 20px; */
    top: 140px;
  }

  .experience-section {
    padding: 4rem 3rem;
  }

  .job {
    gap: 1.5rem;
  }

  .achievements li {
    padding-left: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .achievements li::before {
    left: -25px;
  }
  .purple-bar{
    height: 2.5rem;
  }
  .experience-container::before{
    top: 12.5rem;
  }
  .about-text p{
    padding-left: 2rem;
    width: 70%;
  }
}

  @media(max-width:913px) {
    .skills-container {
      margin: 0 auto;
    }
  }

  @media(max-width:925px) {
    .skill-category h3 {
      font-size: 1.1rem;
    }
  }

  @media(max-width:891px) {
    .skill-category li {
      font-size: 1rem;
    }
  }

  @media (max-width:824px) {
    .skill-category li {
      font-size: 0.9rem;
    }
  }

  @media(max-width:780px) {
    .skill-category h3 {
      font-size: 1rem;
    }
  }




  /* LG-Small Laptop 1150px  */

   @media(max-width:72rem){
  html{
    font-size: 56.2%;
  }
  .photo-container{
    border: 23px solid white;
  }

 } 

/*     */

 @media(max-width:34rem){
  html{
    font-size:37.5%;
  }
 }

 /*    */

 @media(max-width:376px){
  .photo-container{
    width: 40rem;
    height: 40rem;
  }
  .container1{
    gap: 6rem;
  }
 }

  
 /*    */

 @media(max-width:426px){
  .photo-container{
    width: 45rem;
    height: 45rem;
  }
  .about-section{
    padding: 5rem 2rem;
  }
  .experience-container::before{
    top: 8.5rem ;
  }
  .skill-container{
    text-align:center;
}
}
